[Unit]
Description=LaureneAssistantBot
After=multi-user.target

[Service]
User=root
Group=root
WorkingDirectory=/root/app/
ExecStart=/root/app/lrn

[Install]
WantedBy=multi-user.target